<div class="ways-to-give--wrapper" style="background-image: url('{{ file_url(content.field_background_image['#items'].entity.uri.value) }}');">
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
            <div class="ways-to-give-form">
                    <h3>{{ label }}</h3>
                    {{ content.body }}

                    <form name="ways-to-give" id="give" method="GET" action="{{ content.field_post_url }}">
                        <div class="ways-to-give-options--wrapper ">
                            {{ content.field_amount }}
                        
                            <div class="ways-to-give-option" role="button">
                                <input type="radio" name="give-value" id="give_value_other" value="other">
                                <div class="others-dollar-label"><span>$</span> <span class="label-text">Others</span></div>
                                <input class="give-value-other-input" type="text" name="give-value-other">
                            </div>
                            <div class="ways-to-give-option submit-btn" role="button">
                               <button class="btn btn--primary" type="submit">Give where it’s needed most</button>
                            </div>
                        </div>
                        <div class="submit-button-small-xsmall--medium--wrapper">
                            <button class="btn btn--primary" type="submit">Give where it’s needed most</button>
                        </div>
                    </form>

                    {{ content.field_other_ways_link }}

                    <!-- <a class="link link--with-icon" href="#">
                        EXPLORE OTHER WAYS OF GIVING
                        <span class="fa-stack link--icon">
                            <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
                            <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
                            <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
                        </span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>